doctype html
html(lang="ja")
  head
    title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    link(rel="preload" href="asset/css/style.css" as="style")
    link(rel="stylesheet" href="asset/css/style.css")
  body
    header
      h1 Hello World!!
    main
    footer
    script(rel="javascript" src="asset/js/bundle.js")
